{% extends '../base.html' %}
{% load static %}
{% block content %}
<div id="overlay" class="fixed h-screen w-full z-[100] top-0 bottom-0">
    <img class="object-cover  h-screen w-full" src="{% static 'images/loading.gif' %}" alt="Loading" />
</div>
<div
    class="bg-gradient-to-br from-[#4b043c] to-[#7e0763] text-white h-screen flex flex-col items-center justify-center">
    <h2 class="text-[2.5rem] text-center  pb-10">About Starball</h2>
    <p class="text-center sm:px-[10%] py-2">
        Startball is a lucky dream lottery openly held nationaly and consider legal in most of the state of India. A
        ball numbered 1,2,3 and 0 are pick from the glass box of three in series and a single number is formed
        comprising of
        three digit. This is a free and fair game with no cheating like
        other game. Slowly Starball is gaining populariy in all the state of the India and abroad. Starball game never
        engage or encourage players to gambling. Results are for entertainment purpose only.
    </p>
</div>
{% endblock %}