
<div class="flex flex-col items-center w-full bg-gradient-to-r from-[#320428] via-[#800765] to-[#320428]">
    <h2 class="text-[2.7rem] text-white font-semibold pt-10 pb-2">Get Notified When The Results Are Out</h2>
    <p class="text-white px-2 pb-2">Sign up to our email service to get notification when we publish new resutls</p>
    <form class="flex flex-col justify-center items-center gap-3 py-10 w-full" action="post">
        <div class="flex flex-row justify-center items-center gap-3 w-full">
            <input class="rounded p-2 w-3/12 focus:outline-none" type="email" placeholder="example@gmail.com">
            <input class="rounded p-2 w-3/12 focus:outline-none" type="text" placeholder="Your full name">
        </div>
        <button class="bg-white text-gray-700 font-semibold py-2 px-20 rounded-lg shadow-lg text-1xl" type="submit">Submit</button>
    </form>

    <div class="text-center sm:w-2/3 p-3 text-white">
        <p><span>*Disclaimer*</span> Whilst we do our upmost to offer good advice and information we cannot be held responsible for any loss that maybe be incurred as a result of playing Teer Game. This website is purely based on informations collected from different sources, and not associated with any gambling activity.</p>
    </div>
    <div class="w-full bg-[#320428]">
       <p class="text-white text-center p-2"> 2022&copy;tripurteer.com</p>
    </div>
</div>