{% extends '../base.html' %}
{% load static %}
{% block content %}



<div id="overlay" class="fixed h-screen w-full z-[100] top-0 bottom-0 left-0 right-0">
    <img class="object-cover  h-screen w-full" src="{% static 'images/loading.gif' %}" alt="Loading" />
</div>

<div class="relative bg-[url('../../static/images/bg.png')] bg-cover h-[500px] sm:w-full">
    <!-- overlay -->
    <div class="absolute  h-full w-full bg-[#2f0327e0]">
        <div class="flex flex-row justify-evenly  px-10 ">
            <div>
                <h1 class="sm:text-[60px] text-[34px]  text-white pt-[150px] font-semibold ">Play <span
                        class="font-bold text-[#d58107] ">Tripura Teer</span> Game <br> & Enjoy <br> Unlimited</h1>
                <!-- <button class="text-[34px] text-white font-semibold mt-[20px] px-8 shadow-lg hover:shadow-lg hover:bg-[#d58107] py-1 rounded-lg bg-[#d58107]">Results</button> -->
            </div>
            <img class="hidden sm:block" width="750" src="{% static 'images/thumb.png' %}" alt="rollete_wheel">
        </div>
    </div>
    <img width="250" src="{% static 'images/card.png' %}" alt="ace_card">
</div>


<!-- Disclainer Text -->

<div
    class="h-[300px] w-full flex flex-col items-center justify-center sm:px-[18%] px-[10px] sm:py-[10px] py-[200px] text-[18px] text-green-500">
    <p class="whitespace-wrap">
        Tripura teer is a lucky dream game openly held nationaly and consider legal in most of the state of
        India. An arrows are counted that hits the target, and last two digits are considered as a final result. This is
        a free and fair game with no cheating like other game. Slowly Tripura teer is
        gaining populariy in all the state of the India and abroad. Tripura teer never engage or encourage players to
        gambling, and the admin/owner of the website is not responsible for any gambling or betting. Results are for
        entertainment purpose only.
    </p>

</div>


<!-- Today's Result Section -->
<div class="w-full mt-[60px] relative">
    <svg class="absolute sm:top-[10%] blur-lg bottom-0 sm:left-[10%] z-[-10] w-auto h-[300] sm:h-[1200px] stroke-0 fill-[#ecd50465] text-center"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
        <path
            d="M288 256C288 273.7 273.7 288 256 288C238.3 288 224 273.7 224 256C224 238.3 238.3 224 256 224C273.7 224 288 238.3 288 256zM112 256C112 176.5 176.5 112 256 112C335.5 112 400 176.5 400 256C400 335.5 335.5 400 256 400C176.5 400 112 335.5 112 256zM256 336C300.2 336 336 300.2 336 256C336 211.8 300.2 176 256 176C211.8 176 176 211.8 176 256C176 300.2 211.8 336 256 336zM512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 64C149.1 64 64 149.1 64 256C64 362 149.1 448 256 448C362 448 448 362 448 256C448 149.1 362 64 256 64z" />
    </svg>
    <h2 class="text-center shadow_blur font-bold text-[34px] sm:text-[45px] uppercase text-[#383838]">Daily Game</h2>
    <div class="flex flex-col gap-4  sm:flex-row justify-evenly mt-[40px]">
        <div
            class="w-auto h-auto sm:h-[500px] sm:w-[500px] bg-[#000080] py-2 flex flex-col justify-center items-center">

            <!-- Result Number -->
            <div id="first_round_heading" class="text-white text-2xl p-2 hidden"></div>
            <div id="firstRoundResult" class="shadow_blur hidden text-[100px] sm:text-[200px] text-white font-bold">
            </div>
            <div id="first_round_time" class="text-white hidden whitespace-normal p-2">
            </div>
            <!-- Display Timer -->
            <div class="flex-col first-round">

            </div>
            <!-- Display  Waiting-->
            <div id="1stwaiting_message" class="hidden text-white text-[24px] font-bold">COMING SOON</div>

        </div>

        <div class=" w-auto h-auto sm:h-[500px] shadow-xl sm:w-[500px] bg-[#000080] py-2 flex flex-col justify-center
            items-center">
            <!-- Result Number -->
            <div id="second_round_heading" class="text-white text-2xl p-2 hidden"></div>
            <div id="secondRoundResult" class="shadow_blur hidden text-[100px] sm:text-[200px] text-white font-bold">
            </div>
            <div id="second_round_time" class="text-white hidden p-2 whitespace-normal"></div>
            <!-- Display Timer -->
            <div class="flex flex-col second-round">

            </div>
            <!-- Display  Waiting-->
            <div id="waiting_message" class="hidden text-white text-[24px] font-bold">Loading ..</div>
        </div>


    </div>
</div>

<!-- Daily Game Previous Results Here -->

<div class="w-full sm:px-[20%]">
    <h2 class="text-center py-[50px] font-bold text-[34px] sm:text-[45px] uppercase text-[#383838]">Daily Game History
    </h2>

    <!-- table -->
    <div class="">
        <div>
            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Date</th>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            First Round</th>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Second Round</th>

                                    </tr>
                                </thead>
                                <tbody class="bg-white divide-y divide-gray-200">
                                    {% for daily in result|slice:':10' %}
                                    {% if daily.status == 'publish' %}
                                    <tr>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            <div class="flex items-center">
                                                {{daily.first_round.result_time|date:'Y-m-d'}}
                                            </div>
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap daily_first_round_history">
                                            {% if daily.first_round.result_time <= currentTime %}
                                            {{daily.first_round.winning_number}}
                                            {% endif %}
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap  daily_second_round_history">
                                            {% if daily.second_round.result_time <= currentTime %}
                                            {{daily.second_round.winning_number}}
                                            {% endif %}
                                        </td>

                                    </tr>
                                    {% endif %}
                                    {% endfor %}

                                    <!-- More people... -->
                                </tbody>
                            </table>

                        </div>
                        <a href="{% url 'd_prev_hist' %}">
                            <p
                                class="text-center bg-[#d67f04] py-2 cursor-pointer hover:shadow-lg text-white font-semibold">
                                VIEW MORE</p>
                        </a>

                    </div>
                </div>
            </div>


        </div>
    </div>

</div>



<!-- Starball's Result Section -->
<div style="background-image: url('https://cdn.wallpapersafari.com/36/53/3aTNQI.jpg'); object-fit: cover;"
    class="w-full mt-[60px] sm:pb-[200px] relative">
    <div class="absolute top-0 bottom-0 left-0 right-0 bg-[#00000080]"></div>
    <h2 class="text-center  font-bold text-[34px] sm:text-[45px] z-[10] uppercase text-[#ffffff]">StarBall Game</h2>
    <div class="flex flex-row justify-evenly mt-[40px]">
        <div
            class="h-auto w-full z-10 p-4 sm:h-[500px] sm:w-[500px] bg-[#000080] flex flex-col justify-center items-center shadow-2xl">

            <!-- Result Number -->
            <div id="starBallresultHeading" class="text-white text-2xl"></div>
            <div id="starBallResultNumber" class="shadow_blur hidden text-[100px] sm:text-[200px] text-white font-bold">
            </div>
            <div id="starBall_date_time" class="text-white text-center hidden">
            </div>
            <!-- Display Timer -->
            <div class="flex-col  starball_result_timer">

            </div>
            <!-- Display  Waiting-->
            <div id="sundayWaitingMessage" class="hidden text-white text-[24px] font-bold"></div>
        </div>
    </div>
</div>

<!-- StarBall Game Previous Results Here -->

<div class="w-full sm:px-[20%]">
    <h2 class="text-center py-[50px] font-bold text-[34px] sm:text-[45px] uppercase text-[#525252]">StarBall History
    </h2>

    <!-- table -->
    <div class="pb-20">
        <div>
            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Date</th>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Winning Number</th>
                                    </tr>
                                </thead>
                                <tbody class="bg-white divide-y divide-gray-200">
                                    {% for obj in sunday|slice:':10' %}
                                    <tr>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            <div class="flex items-center">
                                                {{obj.result_time|date:'Y-m-d'}}
                                            </div>
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap sunday_winning_number_history">
                                            {% if obj.result_time <= currentTime %}
                                            {{obj.winning_number}}
                                            {% endif %}



                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <a href="{% url 'start_ball_previous' %}">
                            <p class="text-center bg-[#d67f04] py-2 cursor-pointer shadow-lg text-white font-semibold">
                                VIEW
                                MORE</p>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

<script type="text/javascript" src="{% static 'js/starBall.js' %}"></script>
<script type="text/javascript" src="{% static 'js/firstRound.js' %}"></script>
<script type="text/javascript" src="{% static 'js/secondRound.js' %}"></script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>


{% endblock %}