{% load static %}
<div class="px-[50px] py-[10px] bg-[#320428]">
    <div class="flex flex-row justify-between">
        <div class="h-[50px] w-[300px]">
            <a href="/"><img class="cursor-pointer" src="{% static 'images/logo.png'%}" alt=""></a>
        </div>

        <ul class="uppercase flex flex-row justify-evenly items-center gap-10 text-white">
            <a href="/"><li class="cursor-pointer">Home</li></a>
            <li class="cursor-pointer">About</li>
            <li class="cursor-pointer">Games</li>
            <li class="cursor-pointer">Faq</li>
            <li class="cursor-pointer">Contact</li>
        </ul>
    </div>

</div>