<div class="w-full h-auto flex  sm:flex-row flex-col justify-center items-center gap-10 bg-blue-700">
    <img height="50" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
        alt="google play store">
    <div class="mx-[20px]">
        <h2 class="sm:text-[34px] text-[30px] font-bold sm:text-start text-white">Download Android
            App From
            Google play
            Store</h2>


        <a target="_blank" href="https://play.google.com/store/apps/details?id=tripurateertoday.com"> <button
                class="w-[300px] h-[50px] my-[20px]  bg-green-500 hover:bg-green-700 transition-all duration-700 text-[20px] font-bold text-white rounded-lg">DOWNLOAD</button></a>
    </div>
</div>